@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition:  all .3s ;
  scroll-behavior: smooth;
}

body {
  background: #121212;
  color: white;
}

.container {
  display: -webkit-grid;
  /* Safari */
  display: -ms-gridbox;
  /* IE */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* position: sticky; */
}

.trans {
  transition:  all .3s linear;
}

section {
  padding: 40px 0;
}
